<div class="container">
    <div class="row">
        <div class="col-md-4">
            <br/><br/>
  
            <h2>Student Details</h2>
  
            <hr>
  
            <div class="form-group">
                <label>Student Name</label>
                <input class="form-control" type="text"   [(ngModel)]="studentName" name="studentName">
  
            </div>
              
            <div class="form-group">
              <label>Mathematics</label>
              <input class="form-control" type="text"   [(ngModel)]="studentMaths" name="studentMaths">

          
             </div>
            
              <div class="form-group">
              <label>Science</label>
              <input class="form-control" type="text" [(ngModel)]="studentScience" name="studentScience" >
  
            </div>
  
             <div class="form-group">
               <label>English</label>
               <input class="form-control" type="text"  [(ngModel)]="studentEnglish" name="studentEnglish" >
  
        
               </div>
  
  
            
            <button class="btn btn-danger" (click)="addMarks()" >Add Task</button>
  
            
        </div>
  
        <div class="col-md-8">
            <br/><br/>
            
            <h2>Marks Table</h2>
  
            <hr>
  
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mathematics</th>
                        <th scope="col">Science</th>
                        <th scope="col">English</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mark of myMarkTable; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{mark.name}}</td>
                        <td>{{mark.maths}}</td>
                        <td>{{mark.science}}</td>
                        <td>{{mark.english}}</td>
                          
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
